<form action="/gym/members/<%= @member.id() %>" method="post">
  <label for="first-name"> First name: </label>
<input id= "first-name" type="text" name="first_name" value="<%= @member.first_name%>">
<br>
<br>
<label for="last-name"> Last name: </label>
<input id= "last-name" type="text" name="last_name" value="<%= @member.last_name%>">
<br>
<br>
<label for="membership-select"> Membership type: </label>
<select id="membership-select" name="member_type" value = "<%= @member.member_type() %>">
  <option value="standard">standard</option>
  <option value="premium">premium</option>
</select>
<br/>
<br/>
<label for="phone-number"> Phone number: </label>
<input id= "phone-number" type="text" name="phone_number" value="<%= @member.phone_number%>">
<br/>
<br/>
<label for="address"> Address: </label>
<input id= "address" type="text" name="address" value="<%= @member.address%>">
<br/>
<br/>
<label for="dob"> Date of birth: </label>
<input id= "dob" type="text" name="dob" value="<%= @member.dob%>">

<br/>
<br/>

<input type="submit" value="Confirm changes">


</form>
