<div class="grid">
  <div class="grid-row">
    <div class="cell">

      <p>Name: <%= @member.pretty_name() %> </p>
      <p> Membership type: <%= @member.member_type() %> </p>
      <p> Phone number: <%= @member.phone_number() %> </p>
      <p> Address: <%= @member.address() %></p>
      <p> Date of birth: <%= @member.dob()
      %></p>

      <form action="/gym/members/<%= @member.id %>/delete" method="post" align="center">
        <input type="submit" value="Delete member">
      </form>

      <br>

      <form action="/gym/members/<%= @member.id%>/edit" method="get">
        <input type="submit" value="Edit member">
      </form>

    </div>
    <div class="cell">

      <figure align="center">
          <img src="<%=@member.image()%>" alt = "<%=@member.pretty_name()%>" width='300' />
      </figure>

    </div>
  </div>
</div>
