<h1>Edit class: <%= @gymclass.name() %></h1>

<form action="/gym/classes/<%= @gymclass.id() %>" method="post">

  <div class="grid">

    <div class="grid-row">
      <div class="cell-left">
        <label for="name"> Class name: </label>
      </div>
      <div class="cell-right">
        <input id= "name" type="text" name="name" value="<%= @gymclass.name()%>" required>
      </div>
    </div>

    <div class="grid-row">
      <div class="cell-left">
        <label for="capacity"> Capacity: </label>
      </div>
      <div class="cell-right">
        <input id= "capacity" type="text" name="capacity" value="<%= @gymclass.capacity()%>" required>
      </div>
    </div>

    <div class="grid-row">
      <div class="cell-left">
        <label for="description"> Description: </label>
      </div>
      <div class="cell-right">
        <input id= "description" type="text" name="description" value="<%= @gymclass.description()%>" required>
      </div>
    </div>

    <div class="grid-row">
      <div class="cell-left">
        <label for="image"> Image URL: </label>
      </div>
      <div class="cell-right">
        <input id= "image" type="text" name="image" value="<%= @gymclass.image()%>" required>
      </div>
    </div>

    <div class="grid-row">
      <div class="cell">
        <input type="submit" value="Confirm changes">
      </div>
    </div>

  </div>

</form>
