<div class="grid">
  <div class="grid-row">
    <div class="cell">

      <h1><%= @gymclass.name() %></h1>

      <p>Capacity: <%= @gymclass.capacity %></p>
      <p><%= @gymclass.description() %> </p>

      <form action="/gym/classes/<%= @gymclass.id %>/delete" method="post">
        <input type="submit" value="Delete class">
      </form>

      <br>

      <form action="/gym/classes/<%= @gymclass.id%>/edit" method="get">
        <input type="submit" value="Edit class">
      </form>

    </div>
    <div class="cell">
      <figure align="center">
        <img src= "<%=@gymclass.image()%>" alt = "<%=@gymclass.name()%>" width='300'>
      </figure>
    </div>
  </div>
</div>
