<h1>Class Timetable</h1>

<div class="timetable">

  <table style="width:100%">

    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Class</th>
      <th>Spaces</th>
      <th> </th>
    </tr>

    <% @sessions.each do |session| %>
    <tr>
      <td><%= session.day() %>/<%= session.month() %>/<%= session.year() %>
      <td><%= session.pretty_time()  %></td>
      <td> <%= session.gymclass.name() %> </td>
      <td> <%= session.spaces() %> </td>
      <td><a href="/gym/<%= session.id %>"> View more details</a></td>
    </tr>
    <% end %>
  </table>

</div>
