<h1>Edit session: <%= @session.gymclass.name()%> at <%= @session.pretty_time()%> on <%= @session.day()%></h1>


<form action="/gym/<%= @session.id()%>" method="post">

<!-- need to submit gymclass_id and studio_id when we execute the form but don't need these to be shown -->

  <label for="gymclass_id"></label>
  <input id="gymclass_id" type="hidden" name="gymclass_id" value="<%= @session.gymclass_id %>" readonly>

  <label for="studio-id"></label>
  <input id="studio-id" type="hidden" name="studio_id" value="<%= @session.studio_id %>" readonly>

  <label for="spaces">Spaces: </label>
  <input id="spaces" type="number" name="spaces" value="<%= @session.spaces %>" readonly>

  <br><br>

  <label for="day-select"> Day: </label>
  <select id="day-select" name="day" value ="<%= @session.day() %>" required>
    <option value="<%= @session.day() %>" selected> <%= @session.day() %> </option>

    <% days = ["Mon", "Tues", "Wed", "Thurs", "Fri", "Sat", "Sun"] %>
    <% days.each do |day_name|  %>
      <% unless day_name == @session.day() %>
        <option value= <%="#{day_name}"%> ><%= day_name  %> </option>
      <% end %>
    <% end %>
  </select>

  <br><br>

  <label for="start-time"> Start time: </label>
  <input id ="start-time" type="text" name="start_time" value="<%= @session.start_time() %>" required>

  <br><br>

  <label for="end-time"> End time: </label>
  <input id ="end-time" type="text" name="end_time" value="<%= @session.end_time() %>" required>
  <br><br>

  <input type="submit" value="Confirm changes">

</form>
