<h1>Edit session: <%= @session.gymclass.name()%> at <%= @session.pretty_time()%> on <%= @session.day()%>/<%= @session.month() %>/<%= @session.year() %></h1>


<form action="/gym/<%= @session.id()%>" method="post">

<!-- need to submit gymclass_id and studio_id when we execute the form but don't need these to be shown -->

  <label for="gymclass_id"></label>
  <input id="gymclass_id" type="hidden" name="gymclass_id" value="<%= @session.gymclass_id %>" readonly>

  <label for="studio-id"></label>
  <input id="studio-id" type="hidden" name="studio_id" value="<%= @session.studio_id %>" readonly>

  <label for="spaces">Spaces: </label>
  <input id="spaces" type="number" name="spaces" value="<%= @session.spaces %>" readonly>

  <br><br>

  <label for="date-select">Date:</label>
  <input id="date-select" type="date" name ="date" value="<%= @session.year() %>-<%= @session.month() %>-<%= @session.day() %>">

  <br><br>

  <label for="start-time"> Start time: </label>
  <select id="start-hour" name="start_hour" value ="<%= @session.start_hour() %>" required>
    <option value="<%= @session.start_hour() %>" selected> <%= @session.start_hour() %> </option>

    <% hours = [*1..24] %>
    <% hours.each do |hour|  %>
      <% unless hour == @session.start_hour().to_i() %>
        <option value= <%="#{hour}"%> ><%= hour  %> </option>
      <% end %>
    <% end %>
  </select>
  <select id="start-minute" name="start_minute" value ="<%= @session.start_minute() %>" required>
    <option value="<%= @session.start_minute() %>" selected> <%= @session.start_minute() %> </option>

    <% minutes = (0..60).step(5).to_a() %>
    <% minutes.each do |minute|  %>
      <% unless minute == @session.start_minute().to_i() %>
        <option value= <%="#{minute}"%> ><%= minute  %> </option>
      <% end %>
    <% end %>
  </select>

  <br><br>

  <label for="end-time"> End time: </label>
  <select id="end-hour" name="end_hour" value ="<%= @session.end_hour() %>" required>
    <option value="<%= @session.end_hour() %>" selected> <%= @session.end_hour() %> </option>

    <% hours = [*1..24] %>
    <% hours.each do |hour|  %>
      <% unless hour == @session.end_hour().to_i() %>
        <option value= <%="#{hour}"%> ><%= hour  %> </option>
      <% end %>
    <% end %>
  </select>
  <select id="end-minute" name="end_minute" value ="<%= @session.end_minute() %>" required>
    <option value="<%= @session.end_minute() %>" selected> <%= @session.end_minute() %> </option>

    <% minutes = (0..60).step(5).to_a() %>
    <% minutes.each do |minute|  %>
      <% unless minute == @session.end_minute().to_i() %>
        <option value= <%="#{minute}"%> ><%= minute  %> </option>
      <% end %>
    <% end %>
  </select>

  <br><br>



  <input type="submit" value="Confirm changes">

</form>
