<h1>Add New Session</h1>
<br><br>

<form action="/gym" method="post">

<div class="grid">

  <div class="grid-row">
    <div class="cell-left">
      <label for="gymclass-select">Class type: </label>
    </div>
    <div class="cell-right">
      <select id="gymclass-select" name="gymclass_id" required>
        <% @classes.each do |gymclass|  %>
        <option value= <%="#{gymclass.id}"%>><%= gymclass.name() %> </option>
        <% end %>
      </select>    </div>
  </div>

  <div class="grid-row">
    <div class="cell-left">
      <label for="studio-select">Studio: </label>
    </div>
    <div class="cell-right">
      <select id="studio-select" name="studio_id" required>
        <% @studios.each do |studio|  %>
        <option value= <%="#{studio.id}"%>><%= studio.name() %> </option>
        <% end %>
      </select>    </div>
  </div>

  <div class="grid-row">
    <div class="cell-left">
      <label for="date-select">Date:</label>
    </div>
    <div class="cell-right">
      <input id="date-select" type="date" name ="date" required>
    </div>
  </div>

  <div class="grid-row">
    <div class="cell-left">
      <label for="start-time"> Start time: </label>
    </div>
    <div class="cell-right">
      <select id="start-hour" name="start_hour" required>
        <% hours = [*6..21] %>
        <% hours.each do |hour|  %>
        <% hour = ("0"+hour.to_s()) if hour.to_s().length() == 1%>
        <option value= <%="#{hour}"%> ><%= hour  %> </option>
        <% end %>
      </select>

      <select id="start-minute" name="start_minute" required>
        <% minutes = (0..60).step(5).to_a() %>
        <% minutes.each do |minute|  %>
        <% minute = ("0"+minute.to_s()) if minute.to_s().length() == 1%>
        <option value= <%="#{minute}"%> ><%= minute  %> </option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="grid-row">
    <div class="cell-left">
      <label for="end-time"> End time: </label>
    </div>
    <div class="cell-right">
      <select id="end-hour" name="end_hour" required>
        <% hours = [*6..21] %>
        <% hours.each do |hour|  %>
          <% hour = ("0"+hour.to_s()) if hour.to_s().length() == 1%>
          <option value= <%="#{hour}"%> ><%= hour  %> </option>
        <% end %>
      </select>

      <select id="end-minute" name="end_minute" required>
        <% minutes = (0..60).step(5).to_a() %>
        <% minutes.each do |minute|  %>
          <% minute = ("0"+minute.to_s()) if minute.to_s().length() == 1%>
          <option value= <%="#{minute}"%> ><%= minute  %> </option>
        <% end %>
      </select>    </div>
  </div>

  <div class="grid-row">
    <div class="cell">
      <input type="submit" value="Confirm changes">
    </div>
  </div>

</div>

</form>
